.main {
  background-color: var(--bd-color-pri);
}

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list__link {
  display: inline-block;
  position: relative;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: var(--main-anim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.accent {
  &::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    margin-top: 28px;
    border-radius: 2px;
  }
}

.kontact-list {
  display: flex;
  align-items: center;
  padding-left: 305px;
}

.kontact-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.kontact-list__link {
  transition: var(--main-anim);
}

.kontact-list__icon {
  width: auto;
  height: auto;
  padding-right: 10px;
  fill: var(--secondary-color);

  .kontact-list__link:hover &,
  .kontact-list__link:focus & {
    fill: var(--accent-color);
  }
}

.kontact-list__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
